version: "3.8"

services:
  api:
    image: team1acraauto123.azurecr.io/api:latest
    environment:
      PORT: "4000"
      MONGO_URI: "${COSMOS_MONGO_URI}"
    restart: always

  frontend:
    image: team1acraauto123.azurecr.io/frontend:latest
    environment:
      API_HOST: api
      API_PORT: "4000"
    restart: always

  edge:
    image: team1acraauto123.azurecr.io/edge:latest
    ports:
      - "80:80"
    restart: always
